body{
	background: url(https://images.unsplash.com/photo-1423958950820-4f2f1f44e075?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93e8cba7a2ed333f58947d9f76d97eff&auto=format&fit=crop&w=1050&q=80.jpg);
	background-size:cover;
	background-position: center;
	color:white;
}
html{
	height:100%;
}
#content{
	text-align: center;
	padding-top:25%;
	color:white;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.4);
}
h1{
	font-weight:700 !important;
	font-size: 5em !important; 
}
p{
	font-weight:300;
	font-size:1em; 
}
hr{
	border-top:rgba(255, 253, 253, 0.1);
	width:400px;
}
